<h1>Edit Student Profile</h1>
  <div class="field">
    <%= form.label :user.first_name %>
    <%= form.text_field :student.first_name %>
  </div>

  <div class="field">
    <%= form.label :user.last_name %>
    <%= form.text_field :student.last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :user.email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<%= render 'form', user: @students %>
<%= link_to 'Back',  %>
