
<!-- Section 1 -->
<section class="relative py-20 overflow-hidden bg-white">
    <span class="absolute top-0 right-0 flex flex-col items-end mt-0 -mr-16 opacity-60">
        <span class="container hidden w-screen h-32 max-w-xs mt-20 transform rounded-full rounded-r-none md:block md:max-w-xs lg:max-w-lg 2xl:max-w-3xl bg-blue-50"></span>
    </span>

    <span class="absolute bottom-0 left-0"> </span>

    <div class="relative px-16 mx-auto max-w-7xl">
      <p class="font-medium tracking-wide text-gray-500 uppercase">Welcome to students page <%= @batch.name %></p>
      <h2 class="relative max-w-lg mt-5 mb-10 text-4xl font-semibold leading-tight lg:text-5xl">Meet all the faces<br>of your batch</h2>

      <%# -----search box ------ %>
      <div>

        <%= form_tag(batch_users_path, method: :get, class: "flex w-min") do %>
          <%= text_field_tag :query, params[:query], autocomplete: "off", placeholder: "Search Students", class: "pl-3 my-3 border"  %>
          <%= submit_tag "Search", class: "w-20 text-sm bg-black font-medium text-center cursor-pointer py-2 px-4 hover:bg-gray-500 text-white my-3 rounded-lg" %>
        <% end %>
      </div>
      <%# --------end------- %>

      <div class="grid w-full grid-cols-2 gap-10 sm:grid-cols-3 lg:grid-cols-4 mt-5">
        <% @students.each do |student| %>
          <div class="flex flex-col items-center justify-center col-span-1">
            <div class="relative p-5">
                <div class="absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none bg-green-50"></div>
                <img class="relative z-20 w-full rounded-full" src="<%= student.image_url %>">
            </div>
            <div class="mt-3 space-y-2 text-left">
              <div class="space-y-1 text-lg font-medium leading-6">
                  <h3><%= student.first_name %> <%= student.last_name %></h3>
                  <p class="text-gray-600 text-sm w-10"><%= student.email %></p>
              </div>

              <%# edit student %>
              <%= link_to edit_batch_user_path(@batch, student) do%>
                <p class="text-sm px-4 py-1 my-0 mt-2 bg-green-100 text-black cursor-pointer hover:bg-green-300 hover:text-white rounded-lg show-modal text-center"> Edit </p>
              <% end %>
              <div class="text-sm px-4 py-1 my-0 bg-red-400 cursor-pointer hover:bg-red-600 text-white rounded-lg show-modal text-center">
              <%= link_to "Remove student", batch_booking_path(@batch,student), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%# add student %>
      <div class="flex justify-center mt-20">
        <%= simple_form_for ([@batch, @booking]), html: { class: 'flex flex-col items-center w-2/5' }  do |f| %>
        <%= f.input :user_id, label: false, collection: @all_students, label_method: lambda{ |individual| "#{individual.first_name} #{individual.last_name}" }, :value_method => :id, input_html: { style: 'width:200px;' }, prompt: "Select Student"  %>
        <%# <%= f.association :user, input_html: { class: 'select2' }  %>
        <%= f.button :submit, "Add student", class: "w-3/12"%>
          <%= link_to batch_path(@batch) do %>
          <p class="w-full mt-4 text-sm text-center text-gray-800 hover:text-gray-500 hover:underline">Go back</p>
          <% end %>
        <% end %>
      </div>
    </div>
</section>
