<h1>
  <strong> Welcome to students page <%= @batch.name %></strong>
</h1>
<% @students.each do |student| %>

  <div>
    <%= student.first_name %>
    <%= student.last_name %>
    <%= student.email %>
  </div>

  <%= link_to edit_batch_user_path(@batch, student) do%>
    <div>
      Edit
    </div>
  <% end %>
<% end %>



<%# <%= link_to new_user_registration_path(@batch, student) do %>
  <%# <div>
    Add Student
  </div> %>
<%# <% end %>

<%= link_to 'Remove', @user, method: :delete, data: { confirm: 'Are you sure you want to remove student from batch'} %>
