


<h1>
  <strong> Welcome to students page <%= @batch.name %></strong>
</h1>
<% @students.each do |student| %>

  <div>
    <%= student.first_name %>
    <%= student.last_name %>
    <%= student.email %>
  </div>

  <%= link_to %>
    <div>
      Add Student
    </div>

  <%= link_to edit_batch_user_path(@batch, student) do%>
    <div>
      Edit
    </div>
  <% end %>

  <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %>
    <div>
      Remove Student
    </div>
<% end %>
