<!-- First time access as a student -->

<% if @user.admin == true %>
  <section class="pt-20 pb-0" style="background-color: white">
    <div class="container max-w-6xl mx-auto">
      <h2 class="text-4xl font-medium tracking-normal text-center" style="color: #0A2540">
        Welcome back <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg font-normal text-center" style="color: #0A2540">
        Create and access your cohorts.
      </p>
      <div class="flex justify-center">
        <button class="add_cohort_button my-3 text-white font-normal text-sm py-2 px-4 rounded show-modal">
          Add a new cohort
        </button>
      </div>
      <div class="grid grid-cols-1 gap-4 mt-10 sm:grid-cols-2 lg:grid-cols-2 px-8 w-4/5 mx-auto">
        <% count = 0 %>
        <% @batches.each do |batch| %>
          <%= link_to batch_path(batch) do %>
            <div class="cohort-card relative flex flex-col items-left justify-around col-span-3 px-4 py-4 space-y-2 overflow-hidden sm:rounded-lg bg-white" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
              <div class="flex justify-between">
              <div class="h-12 w-12 flex items-center justify-center text-white rounded-full" style="background-color: #0A2540">
                <h4 class="text-bold"><%= batch.name.chars.first %></h4>
              </div>
                <div>
                <h6 class="font-normal text-gray-900 text-right"><span class="font-light" style="color: #0A2540">Start Date:</span><br> <%= batch.start_date %></h6>
                </div>
                </div>
                <h2 class="text-2xl font-medium text-gray-900"><span class="font-light" style="color: #0A2540"></span> <%= batch.name %></h2>
                <div class="flex justify-between items-end">
                <div>
                <h6 class="text-lg font-normal text-gray-900"><span class="font-light" style="color: #0A2540">Tuition Cost:</span><br> €<%= number_with_delimiter(batch.tuition_cost.round, :delimiter => ",") %></h6>
                </div>
                <div>

                <!-- Add if statement for profit and loss -->
                <% if @net_income_arr[count] < 0 %>
                  <span class="font-normal text-red-500">Non Profitable <i class="fas fa-circle animate-pulse"></i> </span>
                <% else %>
                  <span class="font-normal text-green-500">Profitable <i class="fas fa-circle animate-pulse"></i> </span>
                <% end %>
                <!-- Add if statement for profit and loss -->
                </div>
                </div>
              </div>
          <% end %>
          <% count += 1 %>
        <% end %>
      </div>
    </div>
  </section>

  <%= render "form" , hidden:@hidden%>

<!-- First time access as a student -->

<% elsif @user.admin == false && @user.bookings.count == 0 && @user.photo.attached? == false %>
  <section class="pt-40 pb-0 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-medium tracking-normal text-center" style="color: #0A2540">
        Welcome <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg text-center" style="color: #0A2540">
        Please upload a profile picture to continue:
      </p>

      <%#-----------image upload --------- %>
      <%= link_to edit_user_registration_path do |f| %>
      <div class="box py-10 px-8 border-2 bg-white border-dashed m-4 opacity-80">
        <button class="w-full text-center add_cohort_button my-2 text-white font-bold text-sm py-2 px-4 rounded show-modal">
        Upload
        </button>
      </div>
      <% end %>

      <% if  @user.photo.key %>
      <div class="box py-10 px-1 border-2 bg-white border-dashed m-4 opacity-80">
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, style: "margin:auto; width: 50%; border-top-left-radius: 8px; border-top-right-radius: 8px;"%>
      </div>

        <%= simple_form_for ([@booking]), html: { class: 'flex flex-col items-center w-2/5' }  do |f| %>
          <%= f.input :batch_id, label: false, collection: @batches, label_method: lambda{ |batch| "#{batch.name} #{batch.start_date} - #{batch.end_date}" }, :value_method => :id, input_html: { style: 'width:200px;' }, prompt: "Select Cohort"  %>
          <%= f.button :submit, "Apply to cohort", class: "w-4/12 text-center"%>
        <% end %>

      <% end %>
    </div>
  </section>

  <!-- Student has added a photo but it's not in a cohort -->


  <% elsif @user.admin == false && @user.bookings.count == 0 && @user.photo.attached? %>
  <section class="pt-20 pb-0 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-medium tracking-normal text-center" style="color: #0A2540">
        Welcome <%= @user.first_name %>!
      </h2>

      <% if  @user.photo.key %>
      <div class="box py-8 px-8 border-2 bg-white border-dashed m-4 opacity-80 w-1/3">
        <%= cl_image_tag @user.photo.key, style: "margin:auto; width: 100%;"%>
      </div>


        <%= simple_form_for ([@booking]), html: { class: 'flex flex-col gap-0 items-center w-2/5' }  do |f| %>
          <%= f.input :batch_id, label: false, collection: @batches, label_method: lambda{ |batch| "#{batch.name} #{batch.start_date} - #{batch.end_date}" }, :value_method => :id, input_html: { style: 'width:200px;' }, prompt: "Select your cohort"  %>
          <%= f.button :submit, "Apply", class: "mt-0 w-4/12 text-center"%>
        <% end %>

      <% end %>
    </div>
  </section>

<!-- Student already in a cohort -->

<% elsif @user.admin == false && @user.bookings.count > 0 %>
  <% if @user.bookings[0].status == "Accepted" %>
    <div id="balloon-container">
  </div>
  <% end %>
  <section class=" pt-40 pb-0 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-medium tracking-normal text-center mb-2" style="color: #0A2540">
        Welcome back <%= @user.first_name %>!
      </h2>

      <div class="box rounded-full p-2 border-2 bg-white m-4 w-32" style="margin-bottom: -60px; z-index: 100;">
        <%= cl_image_tag @user.photo.key, class: "rounded-full", style: "margin:auto; width: 100%;"%>
      </div>

    <div class="grid grid-cols-1 gap-4 mt-2 sm:grid-cols-2 lg:grid-cols-2 w-1/3 mx-auto" style="z-index: 10;">
        <% @user.bookings.each do |booking| %>
            <div class="relative flex items-center justify-between col-span-3 px-4 py-4 space-y-2 overflow-hidden sm:rounded-xl bg-white border" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; padding-top: 52px;">
            <div>
                <h6 class="text-2xl font-normal" style="color: #0A2540"><%= Batch.find(booking.batch_id).name %></h6>
                <h6 class="font-normal text-gray-800"><%= Batch.find(booking.batch_id).start_date %></h6>
                </div>
                <div class="text-end">

                <% if booking.status == "Pending" %>
                <h6 class="font-normal text-gray-800">Status:
                <h6 class="text-red-400 font-lighter text-right"><%= booking.status %></h6></h6>
                <% else %>
                <h6 class="text-green-400 font-lighter text-right"><p>Congratulations!</p> <p>You have been accepted! 🎉</p></h6></h6>
                <% end %>
                </div>

              </div>
        <% end %>
      </div>
    </div>

  </section>


<% end %>
