<h1> Welcome <%= @user.email %> </h1>
<% @batches.each do |batch| %>
  <div>
    <%= link_to batch_path(batch) do %>
      <%= batch.name %>
    <% end %>
  </div>
<% end %>

<%= simple_form_for @batch do |f| %>
  <%= f.input :name %>
  <%= f.input :tuition_cost %>
  <%= f.button :submit %>
<% end %>
