<% if @user.admin == true %>
  <section class="py-20 bg-gray-50">
    <div class="container max-w-6xl mx-auto">
      <h2 class="text-4xl font-bold tracking-tight text-center">
        Welcome back <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg text-center text-gray-600">
        Create and Access your Cohorts.
      </p>
      <div class="flex justify-center">
        <button class="add_cohort_button my-2 text-white font-bold text-sm py-2 px-4 rounded show-modal">
          Add a New Cohort
        </button>
      </div>

      <div class="grid grid-cols-1 gap-4 mt-10 sm:grid-cols-2 lg:grid-cols-2 px-8 w-4/5 mx-auto">
        <% @batches.each do |batch| %>
          <%= link_to batch_path(batch) do %>
            <div class="cohort-card relative flex flex-col items-center justify-between col-span-3 px-4 py-4 space-y-2 overflow-hidden sm:rounded-xl bg-white shadow-xl border">
              <div class="py-3 px-5 text-white bg-black rounded-full">
                <%= batch.name.chars.first %></h4>
              </div>
                <h6 class="font-medium text-gray-800"><strong>Name:</strong> <%= batch.name %></h6>
                <h6 class="font-medium text-gray-800"><strong>Tuition:</strong> €<%= number_with_delimiter(batch.tuition_cost, :delimiter => ",") %></h6>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <%= render "form" , hidden:@hidden%>

<% elsif @user.admin == false && @user.bookings.count == 0 %>
  <section class="py-20 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-bold tracking-tight text-center">
        Welcome <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg text-center text-gray-600">
        Upload your profile picture and select your cohort
      </p>
      <%= simple_form_for ([@booking]), html: { class: 'flex flex-col items-center w-2/5' }  do |f| %>
        <%= f.input :batch_id, label: false, collection: @batches, label_method: lambda{ |batch| "#{batch.name} #{batch.tuition_cost}" }, :value_method => :id, input_html: { style: 'width:200px;' }, prompt: "Select Cohort"  %>
        <%= f.button :submit, "Apply to cohort", class: "w-4/12 text-center"%>
      <% end %>
    </div>
  </section>
<% elsif @user.admin == false && @user.bookings.count > 0 %>
  <section class="py-20 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-bold tracking-tight text-center">
        Welcome back <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg text-center text-gray-600">
        Here is your cohort
      </p>
      <% @user.bookings.each do |booking| %>
        <div>
          Name: <%= Batch.find(booking.batch_id).name %>
        </div>
        <div>
          Status: <%= booking.status %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
