<% if @user.admin == true %>
  <section class="py-20 bg-white">
    <div class="container max-w-6xl mx-auto">
      <h2 class="text-4xl font-bold tracking-tight text-center">
        Welcome back <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg text-center text-gray-600">
        Create and Access your Cohorts.
      </p>
      <div class="flex justify-center">
        <button class=" my-2 bg-gray-900 hover:bg-gray-500 text-white font-bold text-sm py-2 px-4 rounded show-modal">
          Add a new cohort
        </button>
      </div>

      <div class="grid grid-cols-1 gap-4 mt-10 sm:grid-cols-2 lg:grid-cols-2 px-8">
        <% @batches.each do |batch| %>
          <%= link_to batch_path(batch) do %>
            <div class="relative flex flex-col items-center justify-between col-span-3 px-4 py-4 space-y-2 overflow-hidden hover:bg-green-50 sm:rounded-xl bg-white shadow-xl border">
              <div class="py-3 px-5 text-white bg-black rounded-full">
                <%= batch.name.chars.first %></h4>
              </div>
              <h4 class="text-xl font-medium text-gray-700">
                <%= batch.name %>
              </h4>
              <h4 class="text-xl font-medium text-gray-700">
                Tuition: €<%= number_with_delimiter(batch.tuition_cost, :delimiter => ",") %>
              </h4>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <%= render "form" , hidden:@hidden%>

<% elsif @user.admin == false && @user.bookings.count == 0 %>
  <section class="py-20 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-bold tracking-tight text-center">
        Welcome <%= @user.first_name %>!
      </h2>
      <p class="mt-2 text-lg text-center text-gray-600">
        Upload your profile picture and select your cohort
      </p>

      <%#-----------image upload --------- %>
      <%= simple_form_for (@user), url: edit_user_registration_path, method: :get do |f| %>

        <%= f.button :submit, "Upload profile picture (required!)", class: "w-full text-center"%>
      <% end %>
      <% if  @user.photo.key %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, style: "margin:0; width: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;"%>
      <% end %>


      <%= simple_form_for ([@booking]), html: { class: 'flex flex-col items-center w-2/5' }  do |f| %>
        <%= f.input :batch_id, label: false, collection: @batches, label_method: lambda{ |batch| "#{batch.name} #{batch.tuition_cost}" }, :value_method => :id, input_html: { style: 'width:200px;' }, prompt: "Select Cohort"  %>
        <%= f.button :submit, "Apply to cohort", class: "w-4/12 text-center"%>


      <% end %>
    </div>
  </section>
<% elsif @user.admin == false && @user.bookings.count > 0 %>
  <section class="py-20 bg-white">
    <div class="container max-w-6xl mx-auto flex flex-col items-center">
      <h2 class="text-4xl font-bold tracking-tight text-center">
        Welcome back <%= @user.first_name %>!
      </h2>

      <% if  @user.photo.key %>
        <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill, style: "margin:0; width: 100%; border-top-left-radius: 8px; border-top-right-radius: 8px;"%>
      <% end %>

      <p class="mt-2 text-lg text-center text-gray-600">
        Here is your cohort
      </p>
      <% @user.bookings.each do |booking| %>
        <div>
          Name: <%= Batch.find(booking.batch_id).name %>
        </div>
        <div>
          Status: <%= booking.status %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
