<div class="text-2xl mb-5">You are in the <%=@batch.name  %> show/dashboard page </div>
<div class="text-2xl">Tuition is <%=@batch.tuition_cost  %> </div>
<div class="text-2xl">You need <%= @break_even %> students to break even </div>
<div class="text-2xl">Your net income is: <%= @current_net_income %></div>
<h2>Here are your costs: </h2>
<div class="flex">
  <% @costs.each do |cost| %>
    <div class="flex pl-3 border">
      <div class="text-lg">
        <%= cost.name %> - <%= cost.amount %>
      </div>
      <%= simple_form_for [@batch, cost], method: "patch", html: { class: "pl-4"} do |f| %>
          <%= f.input :name %>
          <%= f.input :amount %>
          <%= f.input :kind, collection: ["Fixed", "Variable"], selected: cost.kind%>
          <%= f.button :submit %>
      <% end %>
      <div class="ml-16 flex items-center">
        <%= simple_form_for [@batch, cost], method: :delete do |f| %>
          <%= f.button :submit, "Delete" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<%= simple_form_for [@batch, @cost], class: "mt-5" do |f| %>
      <%= f.input :name %>
      <%= f.input :amount %>
      <%= f.input :kind, collection: ["Fixed", "Variable"] %>
      <%= f.button :submit, "Add new cost" %>
      <% end %>


<%= link_to batch_users_path(@batch) do%>
<div class="p-2 bg-indigo-500 rounded w-48">Click here to see this batches' students</div>
<% end %>
